{% extends 'base.html' %}
{% block content %}

<div class="container-fluid mt-5">
    <div class="row d-flex flex-wrap justify-content-between">

        <div class="col-lg-9 col-md-9 col-sm-6">
            {% if current_user.is_authenticated %}
            <nav class="navbar bg-body-tertiary mb-5 sub_nav d-flex justify-content-between">
                <a href="/post/create">
                    <button class="btn btn-sm btn-outline-primary ms-3 me-3" type="button"> Create New Post ! </button>
                </a>
                <a href="/">
                    <button class="btn btn-sm btn-outline-primary ms-3 me-3" type="button"> Post Friends </button>
                </a>
                <a href="/posts">
                    <button class="btn btn-sm btn-outline-primary ms-3 me-3" type="button"> All Posts </button>
                </a>
            </nav>
            {% endif %}
            {% for post in posts %}
            <div class="card mb-3 card_post" style="width:100%">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                       
                        <div class="d-block title_date ">
                            <div> {{post.User.username}} </div>
                            <div style="font-size: smaller;font-weight: 400;"> {{post.Post.date_posted}}</div>
                        </div>
                        
                        <img  class="post-image me-2" src="{{post.User.photo}}"/>
                    </div>
                  
                  <h4 class="card-subtitle mb-2 post_title ">{{post.Post.title}}</h4>
                  <p class="card-text">{{post.Post.content}}</p>
                </div>
            </div>
            {% endfor %}




            
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 friend-request vh-100">
            {% if current_user.is_authenticated %}
            <h4 class="post_title"> Friends </h4>
            <div class="card mb-3" style="width:100%">
                <div class="card-body">
                    {% for friend in friends %}
                    <div class="d-flex align-items-center mb-3">
                        <img  class="post-image me-2" src="{{friend.photo}}"/>
                        <div class="title_date">
                            <div> {{friend.username}} </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            
        </div>
        
    </div>
</div>
{% endblock%}