{% extends 'base.html' %}
{% block content %}
<form method="post" class="container mt-5 registration" >
  {{ form.hidden_tag() }}
  <div class="flex">
    {{ form.username.label }}
    {{ form.username }}
  </div>
  <div class="flex">
    {{ form.email.label }}
    {{ form.email }}
  </div>
  <div class="flex">
    {{ form.password.label }}
    {{ form.password }}
  </div>
  <div class="flex">
    {{ form.confirm_password.label }}
    {{ form.confirm_password }}
  </div>
  <div class="flex">
    {{ form.photo.label }}
    {{ form.photo }}
  </div>
  <div class="flex">
    {{ form.submit(class='btn btn-primary') }}
  </div>
</form>
{% endblock %}