{% extends 'base.html' %}
{% block content %}
<form method="post" class="login crate_form mt-5">
  {{ form.hidden_tag() }}
  <fieldset>
    <legend class="text-center"> Login </legend>
    <div class="flex ">
      {{ form.email.label }}
      {% if form.email.errors %}
          {{ form.email(class="form-control form_input is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.email.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
      {{ form.email }}
      {% endif %}
    </div>
    <div class="flex">
      {{ form.password.label }}
      {% if form.password.errors %}
          {{ form.password(class="form-control is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.email.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
      {{ form.password }}
      {% endif %}
    </div>
    <div class="flex mt-3">
      {{ form.submit(class='btn btn-primary ') }}
    </div>
  </fieldset>
</form>
{% endblock %}