body {
  position: relative;
  min-height: 100vh;
}
.footer {
  /* position: absolute;
  bottom: 0; */
  display: flex;
  align-items: center;
  margin-top: 30px;
}

img {
  display: block;
  width: 100px;
}

form.profile-form {
  width: 30vw;
  margin-right: 20vw;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.main {
  min-height: 100vh;
}

form.registration,
form.login {
  margin: auto;
  min-width: fit-content;
  width: 40vw;
}

fieldset {
  border: solid black 1px;
  padding: 20px;
}

div.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.friend-request {
  /* border-left: 2px solid #0D6EFD; */
}
.sub_nav {
  border-radius: 0.4em;
  background-color: #b0c8eb;
  box-shadow: 2px 3px rgb(128, 179, 246);
}
.post-image {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
.title_date {
  line-height: 1em;
}
.post_title {
  background-color: #f6f6f6;
  color: rgb(0, 121, 227);
  width: fit-content;
  border-radius: 0.3em;
  padding: 0.2em;
}

.explore-flex {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
