body {
  position: relative;
  min-height: 100vh;
}
.footer {
  /* position: absolute;
  bottom: 0; */
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

img {
  display: block;
  width: 100px;
}

form.profile-form {
  width: 30vw;
  margin-right: 20vw;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.main {
  min-height: 100vh;
}

form.registration {
  margin: auto;
  border: solid;
  min-width: fit-content;
  width: 40vw;
}

div.flex {
  display: flex;
  justify-content: space-between;
}
